<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href>Pokemon Nest Locator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#/home">Home</a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.goToGlobalMap()">Global Map</a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.goToMyMap()">My Map</a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.leaderboard()">Leaderboard</a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.searchPokemon()"><span class="glyphicon glyphicon-search"></span> Search Pokemon</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUserSignedIn"><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li ng-hide="currentUserSignedIn"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.userprofile()">{{currentUser.username}} <span class="glyphicon glyphicon-user"></span></a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.logout()"> Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<nav class="jumbo-nav">
    <div class="navigation-wrapper">
        <div class="navigation">
            <div class="header-logo">
                <a href="#">
                    <img src="./images/pokemon_go_logo.png" />
                </a>
            </div>
        </div>

        <!-- Example row of columns -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="pokeball-wrapper">
                        <img src="./images/pokeball.png" />
                    </div>
                    <div class="enhanced">
                        <h2>About the Site</h2>
                        <img class="pokemon small" src="./images/pokemon2.png" />
                        <p>This site helps you find Pokemon nests which are marked by fellow players like you. A nest is a place where a particular Pokemon appears very often in that locality.
                        By marking such nests in a globally shared map, you can help other players to find Pokemon which are rare in their neighborhood</p>
                        <br><br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pokeball-wrapper">
                        <img src="./images/pokeball.png" />
                    </div>
                    <div class="enhanced">
                        <h2>About Pokemon Go</h2>
                        <img class="pokemon small" src="./images/pokemon3.png" />
                        <p>Pokémon Go is a free-to-play, location-based augmented reality game developed by Niantic. In the game, players use a mobile device's GPS capability to locate, capture, battle, and train virtual creatures, called Pokémon, who appear on the screen as if they were in the same real-world location as the player.  </p>
                        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>--><br><br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pokeball-wrapper">
                        <img src="./images/pokeball.png" />
                    </div>
                    <div class="enhanced">
                        <h2>So Sign up!</h2>
                        <img class="pokemon small" src="./images/pokemon1.png" />
                        <p>Sign up to use this site as your utility tool to expand your collection and help others on the way.</p>
                        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>--><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>
<!--<hr style="visibility: hidden">-->
<div class="container mapBackgroundImage">
    <hr style="visibility: hidden">

    <div class="row">
        <div class="col-md-12">
            <div class="enhancedLowerPanel">
                <br>
                <h1>How to use this site</h1>
                <p>
                    To use the services provided by this site, please register as a user first. As a user, you will have access to a global map where other players had marked the Pokemon Nests they found near them. You can also add
                    any nests that you find in your neighborhood in the global map through the add button found below. You can also view only the Pokemons that you marked in the "My Map" section. Here you have the capabilities to delete
                    the Pokemon that you marked in the global map. A visual representation of the Pokemon is given over the map for easy understanding. <br>
                    If you like to know some details about a Pokemon, go to the "Search Pokemon" section where you can search for a Pokemon to get some details. Use the table provided below to type the full name of the Pokemon to search.
                    Pokemon details include its type, number, name, moves etc. Also it includes in-map details like number of users who marked this pokemon and number of nests that are found in the map.
                    You can also leave a comment in the Pokemon detail page for other users to follow up with. <br>
                    You can also get to know about other players from the Leaderboard section which ranks the users based on the number of nests marked in the map.
                    You can also follow other users to connect with them and get to know more details about them like their email ids, first name, last name, the list of Pokemons they marked in the map etc.
                    You can also post something on their wall which will act as a medium of communication to that user. This wall is common for one user, so that other followers can also comment on his wall.
<br><br><br><br><br>
                </p>
            </div>
        </div>
    </div>

</div> <!-- /container -->
</body>