<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href>Pokemon Nest Locater</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li class="active"><a href>My Profile</a></li>
                <li><a href ng-click="model.goToGlobalMap()">Global Map</a></li>
                <li><a href ng-click="model.goToMyMap()">My Map</a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.leaderboard()">Leaderboard</a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.searchPokemon()"><span class="glyphicon glyphicon-search"></span> Search Pokemon</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUserSignedIn"><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.userprofile()">{{currentUser.username}} <span class="glyphicon glyphicon-user"></span></a></li>
                <li ng-if="currentUserSignedIn"><a href ng-click="model.logout()"> Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>



<div class="container profileBgImg">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="./images/Pokeball2.png" class="avatar img-circle img-responsive center-block" alt="avatar" style="height: 120px">

            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-6 personal-info">
            <!--<div class="alert alert-info alert-dismissable">-->
                <!--<a class="panel-close close" data-dismiss="alert">×</a>-->
                <!--<i class="fa fa-coffee"></i>-->
                <!--This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
            <!--</div>-->
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form" novalidate>
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input ng-model="model.user.firstName" class="form-control" type="text" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input ng-model="model.user.lastName" class="form-control" type="text" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Username:</label>
                    <div class="col-lg-8">
                        <input ng-model="model.user.username" class="form-control" type="text" placeholder="User Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input ng-model="model.user.email" class="form-control" type="text" placeholder="sample@domain.com">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label">Time Zone:</label>-->
                    <!--<div class="col-lg-8">-->
                        <!--<div class="ui-select">-->
                            <!--<select id="user_time_zone" class="form-control">-->
                                <!--<option value="Hawaii">(GMT-10:00) Hawaii</option>-->
                                <!--<option value="Alaska">(GMT-09:00) Alaska</option>-->
                                <!--<option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>-->
                                <!--<option value="Arizona">(GMT-07:00) Arizona</option>-->
                                <!--<option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>-->
                                <!--<option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>-->
                                <!--<option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>-->
                                <!--<option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-md-3 control-label">Username:</label>-->
                    <!--<div class="col-md-8">-->
                        <!--<input class="form-control" type="text" value="janeuser">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label">Password:</label>-->
                    <!--<div class="col-lg-8">-->
                        <!--<input class="form-control" type="password" placeholder="Password" required>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label">Verify password:</label>-->
                    <!--<div class="col-lg-8">-->
                        <!--<input class="form-control" type="password" placeholder="Verify Password" required>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <input type="submit" ng-click="model.updateUser()" class="btn btn-primary btn-block" value="Save Changes">
                        <span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <input type="button" ng-click="model.unregisterUser()" class="btn btn-danger btn-block" value="Unregister">
                        <span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <a class="btn btn-warning btn-block"
                           ng-show="model.user.role == 'ADMIN'"
                           href="#/admin/{{model.user._id}}/">Admin</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>