<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 600px;
            width: 100%;

        }
    </style>
</head>
<body>
<h3>Pokemon Map</h3>
<!--<div class="row">-->
    <!--<div class="col-md-10 col-md-offset-1">-->
<div id="map"></div>
    <!--</div>-->
<!--</div>-->
<script>
    function initMap() {
        var neu = {lat: 42.340245, lng: -71.088354};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: neu
        });
        var marker = new google.maps.Marker({
            position: neu,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbCQ9WQDRrZsYmKDgOgDX8rwVKLWVJSQc&callback=initMap">
</script>
</body>
</html>