
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="container-fluid containerRightPadding col-sm-4 hidden-xs">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.user._id}}/website" class="navbar-link nounderline">
                  <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties">
                  </span>
                    </a>
                </p>
                <a class="navbar-brand" href="#/user/{{model.user._id}}/website">Websites</a>
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}/website/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus glyphiconPlusProperties">
                  </span>
                    </a>
                </p>
            </div>
        </div>

        <div class="container-fluid containerRightPadding col-sm-8">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.user._id}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties visible-xs">
                  </span>
                    </a>
                </p>
                <a class="navbar-brand" href="#/user/{{model.user._id}}/website/new">New Website</a>
                <p class="navbar-text pull-right">
                    <a href ng-click="model.createNewWebsite(websiteName, websiteDescription)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok glyphiconOkProperties">
                  </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>


<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs ">
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item borderless">
                    <a href="#/user/{{website._user}}/website/{{website._id}}/page" class="blueColorText nounderline">{{website.name}}</a>
                    <a href="#/user/{{website._user}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right">
                        </span>
                    </a>
                </li>
            </ul>
    </div>


    <div class="col-sm-1 v-divider hidden-xs"></div>
    <div class="col-sm-7">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input ng-model="websiteName" type="text" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="websiteDescription" class="form-control" rows="5" id="description" placeholder="Description"></textarea>
            </div>
        </form>

    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <p class="navbar-text pull-right">
            <a href="#/user/{{model.user._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user glyphiconUserProperties">
          </span>
            </a>
        </p>
    </div>

</nav>
