input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 56px;
    /*overflow: hidden;*/
}

.navbar-header{
    width:100%;
}
.navbar-default{
    background-color: #1E90FF;
}

.navbar-default .navbar-brand{
    color: white;
}

.glyphiconOkProperties{
    /*margin-right: 1em;*/
    color: white;
}

.glyphiconUserProperties{
    color: white;
    /*margin-right: 1em;*/
}

.glyphiconPlusProperties{
    /*margin-right: 1em;*/
    color: white;
}

.glyphiconBackProperties{
    margin-left: 5px;
    color: white;
}

.blueColorText {
    color: #2cacff;
}

.containerRightPadding{
    padding-right: 0px;
}

.navbar-default.pagesbgcolor{
    background-color: #f8f8f8;
}

.navbar-default.pagesbgcolor .navbar-brand {
    color: #777;
}

.glyphiconBackProperties.pagesbgcolor{
    color: black;
}

.glyphiconPlusProperties.pagesbgcolor{
    color: black;
}

.glyphiconUserProperties.pagesbgcolor{
    color: #1E90FF;
}

.glyphiconOkProperties.pagesbgcolor{
    color: black;
}

.v-divider{
    /*margin-left:5px;*/
    /*margin-right:5px;*/
    width:1px;
    height:100em;
    border-left:1px solid gray;
    top: -10px;
}

.nounderline{
    text-decoration: none !important;
}

.wrapper {
    position: relative;
}

.glyphiconOverlay {
    position: absolute;
    top:0;
    right:0;
    /*right: -15px;*/
    /*align-self: auto;*/
    /*padding-left: -15px;*/
    background-color: white;
}

.box1{
    /*background-color: white;*/
    /*position: relative;*/
    /*z-index: -3;*/
}

.resetGlyphiconFontSize{
    font-size: 24px;
}
