/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.73);
    /*background: url(../images/header-background-sticky.png);*/
    background-size: cover;
}

.loginBgImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: url("../images/pokemongo1.jpg")  center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    padding-top: 70px;
    overflow: scroll;
}

.registerBgImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: url("../images/pokemongo2.jpg")  center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    overflow: scroll;
}

.profileBgImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    /*background: url("../images/pokemongo6.jpg")  center center no-repeat;*/
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    padding-top: 40px;
    overflow: scroll;
    color: white;

    background-color: black;
}

.searchBgImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: url("../images/pokemongo7.jpg")  center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    padding-top: 70px;
    overflow: scroll;
    background-color: white
}

.pokemonBgImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    /*background: url("../images/pokemongo8.jpg")  center center no-repeat;*/
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    padding-top: 70px;
    overflow: scroll;
    /*color: white;*/
}

.leaderboardBgImg{
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: url("../images/pokemongo7.jpg")  center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    padding-top: 70px;
    overflow: scroll;
    background-color: white
}

.adminBgImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: url("../images/pokemongo6.jpg")  center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    /*overflow: hidden;*/
    padding-top: 200px;
    overflow: scroll;
    background-color: white;
}

.searchBgImg .panel{
    background-color: rgba(255, 255, 255, 1);
}

.labelSearchFont{
    color: white;
    align-items: center;
}

.searchBottomPadding{
    padding-bottom: 10px
}
.panel{
    background-color: rgba(255, 255, 255, 0.58);
}

.jumbo-nav {
    margin: 0 auto;
}

.jumbo-nav .navigation-wrapper {
    background: url(../images/hero-skyline.jpg) no-repeat;
    min-height: 200px;
    background-position: center top;
    background-size: cover;
}

.jumbo-nav .navigation-wrapper .container {
    padding-top: 250px;
}

.jumbo-nav .navigation-wrapper .navigation .header-logo {
    width: 294px;
    height: auto;
    padding-top: 65px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.jumbo-nav .navigation-wrapper .navigation .header-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.header-logo a:hover img {
    -webkit-animation: ease-out-back .4s ease-out;
    animation: ease-out-back .4s ease-out;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.jumbo-nav .navigation-wrapper .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 1;
    overflow: hidden;
}

.jumbo-nav .navigation-wrapper .navigation:before,
.jumbo-nav .navigation-wrapper .navigation:after {
    content: '';
    display: block;
    width: calc(50% - 234px);
    height: 150px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 965px 118px;
    margin-top: 50px;
}


.navigation-wrapper ul li {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.enhanced {
    background-color: rgba(255,255,255,0.75);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.pokeball-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.pokeball-wrapper img {
    margin-top: -20px;
    max-width: 40px;
}

img.pokemon.small {max-height: 120px;
    padding: 5px;
    float: left;
    margin: 0 10px 0 0;
    background-color: #fff;
}

#map{
    /*height: 800px;*/
    position: relative;
    height: 700px;
    width: 100%;
}

.pokemonAddButton{
    position: absolute;
    bottom: 2%;
    left: 1%;
    /*left:50%;*/
}

.mapBackgroundImage {
    background: url(../images/pokemon-go-boston.png) no-repeat;
    min-height: 100px;
    background-position: center top;
    background-size: cover;
    width: 100%;
}

/** bootstrap overwrites **/
.navbar-inverse {
    background-color: rgba(0,0,0,0.5);
    border: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #ffcb05;
    text-shadow: 0px 0px 5px #0069e1;
}

a{
    cursor: pointer;
    color: black;
    text-decoration: none !important;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.imgPaddingTop{
    padding-top: 60px;
}


































.detailBox {
    /*width:320px;*/
    border:1px solid #bbb;
    /*margin:50px;*/
    background-color: white;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
    background-color: white;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px ;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}








.checkbox {
    text-align:center;
    display:inline-block;
    position:relative;
    text-align:left;
    width:60px;
    height:30px;
    background-color:#484850;
    overflow:hidden;
    box-shadow:inset 0 10px 25px rgba(0,0,0, .5), 0px 1px 2px #fff;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    margin:10px;
}

.checkbox input {
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    margin:0 0;
    cursor:pointer;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:2;
}

.checkbox label {
    background-color:#151b29;
    background-image:-webkit-linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    background-image:-moz-linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    background-image:-ms-linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    background-image:-o-linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    background-image:linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    -webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.7);
    -moz-box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.7);
    box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.7);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    display:inline-block;
    width:30px;
    text-align:left;
    font:bold 10px/28px Arial,Sans-Serif;
    color:#999;
    text-shadow:0 -1px 0 rgba(0,0,0,0.7);
    -webkit-transition:margin-left 0.2s ease-in-out;
    -moz-transition:margin-left 0.2s ease-in-out;
    -ms-transition:margin-left 0.2s ease-in-out;
    -o-transition:margin-left 0.2s ease-in-out;
    transition:margin-left 0.2s ease-in-out;
    margin:1px;
    padding-left: 12px;
}

.checkbox label:before {
    content:attr(data-off);
}

.checkbox input:checked + label {
    margin-left:29px;
    /*!* green when 'on'*/
    background-color: #429f21;
    /**!*/

    /* blue when 'on' */
    /*background-color: #0088cc;*/

    color:white;
}

.checkbox input:checked + label:before {
    content:attr(data-on);
}

.checkboxPaddingLeft{
    /*padding-left: 40px;*/
}

.labelFontColor{
    color: white;
    padding-left: 10px;
}

.panelPaddingLeft{
    padding-left: 40px;
}

.adminPanelWhite{
    background-color: white;
}

.tableWordWrap{
    word-wrap: break-word;
    table-layout: fixed;
}