
<nav class="navbar navbar-default navbar-fixed-top pagesbgcolor">
    <div class="container containerRightPadding">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/:uid/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties pagesbgcolor">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Pages</a>
            <p class="navbar-text pull-right">
                <a href="#/user/:uid/website/:wid/page/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus glyphiconPlusProperties pagesbgcolor">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <p>
        <a href="#/user/:uid/website/:wid/page/:pid/widget" class="blueColorText nounderline">Blog Post</a>
        <a href="#/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right">
                      </span>
        </a>
    </p>

    <p>
        <a href="#/user/:uid/website/:wid/page/:pid/widget" class="blueColorText nounderline">Blogs</a>
        <a href="#/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right">
                      </span>
        </a>
    </p>

    <p>
        <a href="#/user/:uid/website/:wid/page/:pid/widget" class="blueColorText nounderline">Home</a>
        <a href="#/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right">
                      </span>
        </a>
    </p>

    <p>
        <a href="#/user/:uid/website/:wid/page/:pid/widget" class="blueColorText nounderline">About</a>
        <a href="#/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right">
                      </span>
        </a>
    </p>

    <p>
        <a href="#/user/:uid/website/:wid/page/:pid/widget" class="blueColorText nounderline">Contact Us</a>
        <a href="#/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right">
                      </span>
        </a>
    </p>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom pagesbgcolor">
    <div class="container">

        <p class="navbar-text pull-right">
            <a href="#/user/:uid" class="navbar-link">
                    <span class="glyphicon glyphicon-user glyphiconUserProperties pagesbgcolor">
          </span>
            </a>
        </p>
    </div>

</nav>
