
<nav class="navbar navbar-default navbar-fixed-top pagesbgcolor">
    <div class="container containerRightPadding">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties pagesbgcolor">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">Widget Edit</a>
            <p class="navbar-text pull-right">
                <a href ng-click="model.updateImage(model.widget.name, model.widget.text, model.widget.url, model.widget.width)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok glyphiconOkProperties pagesbgcolor">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="widgettext">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="widgettext" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="widgeturl">URL</label>
            <input ng-model="model.widget.url" type="url" class="form-control" id="widgeturl" placeholder="Image URL">
        </div>
        <div class="form-group">
            <label for="widgetwidth">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="widgetwidth">
        </div>

        <!--<label for="widgetupload">Upload</label>-->
        <!--<input type="file" class="form-control" id="widgetupload">-->
    </form>
    <div>
        <form action="/api/upload"  method="post" enctype="multipart/form-data">
            <input  name="myFile"   type="file" class="form-control"/>
            <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
            <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
            <input  name="userId" value="{{model.userId}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
            <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
            <button type="submit"   class="btn btn-primary btn-block btn-lg">Upload Image</button>
            <a class="btn btn-danger  btn-block btn-lg" ng-click="model.deleteImage(model.widgetId)">Delete</a>
        </form>

    </div>
    <!--<a class="btn btn-primary  btn-block btn-lg" href="#">Upload Image</a>-->
</div>


<nav class="navbar navbar-default navbar-fixed-bottom pagesbgcolor">
    <div class="container">

        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user glyphiconUserProperties pagesbgcolor">
          </span>
            </a>
        </p>
    </div>

</nav>
