
<nav class="navbar navbar-default navbar-fixed-top pagesbgcolor">
    <div class="container containerRightPadding">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/:uid/website/:wid/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties pagesbgcolor">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Widgets</a>
            <p class="navbar-text pull-right">
                <a href="#/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus glyphiconPlusProperties pagesbgcolor">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">

    <div class="wrapper">
        <h1>
            <b>Gizmodo</b>
        </h1>

        <div class="glyphiconOverlay">
            <a href="#/widget-heading" class="nounderline"> <span class="glyphicon glyphicon-cog resetGlyphiconFontSize">
                    </span> </a>
            <span class="glyphicon glyphicon-align-justify  resetGlyphiconFontSize">
                      </span>
        </div>
    </div>

    <div class="wrapper">
        <h3>
            <b>Bees Placed on Endangered Species List for the First Time in the US</b>
        </h3>

        <div class="glyphiconOverlay">
            <a href="#/widget-heading" class="nounderline"> <span class="glyphicon glyphicon-cog resetGlyphiconFontSize">
                    </span> </a>
            <span class="glyphicon glyphicon-align-justify  resetGlyphiconFontSize">
                      </span>
        </div>
    </div>


    <div class="wrapper">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--acot-4Vt--/c_scale,fl_progressive,q_80,w_800/dbkwnhkds6uepxmzcuzs.jpg"  class="img-responsive">

        <div class="glyphiconOverlay">
            <a href="#/widget-image" class="nounderline"> <span class="glyphicon glyphicon-cog resetGlyphiconFontSize">
                    </span> </a>
            <span class="glyphicon glyphicon-align-justify  resetGlyphiconFontSize">
                      </span>
        </div>
    </div>

    <div class="wrapper">
        <p></p>
        <p>Bees are dying fast and that’s not good for people who like plants and food. Yesterday, the U.S. Fish and Wildlife Service determined that members of seven yellow-faced bees from the Hylaeus species require federal protection. If you’re in Hawaii where this brand of bee resides, you might want to think twice before swatting.</p>
        <div class="glyphiconOverlay">
            <a href="#/widget-heading" class="nounderline"> <span class="glyphicon glyphicon-cog resetGlyphiconFontSize">
                    </span> </a>
            <span class="glyphicon glyphicon-align-justify  resetGlyphiconFontSize">
                      </span>
        </div>
    </div>

    <div class="wrapper">
        <h3>
            <b>Justice League Official Comic-Con Trailer (2017) - Ben Affleck Movie</b>
        </h3>

        <div class="glyphiconOverlay">
            <a href="#/widget-heading" class="nounderline"> <span class="glyphicon glyphicon-cog resetGlyphiconFontSize">
                    </span> </a>
            <span class="glyphicon glyphicon-align-justify  resetGlyphiconFontSize">
                      </span>
        </div>
    </div>

    <div class="wrapper">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/fIHH5-HVS9o"></iframe>
        </div>

        <div class="glyphiconOverlay">
            <a href="#/widget-youtube" class="nounderline"> <span class="glyphicon glyphicon-cog resetGlyphiconFontSize">
                    </span> </a>
            <span class="glyphicon glyphicon-align-justify  resetGlyphiconFontSize">
                      </span>
        </div>
    </div>

    <div class="wrapper">
        <p></p>
        <p>Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists the help of his newfound ally, Diana Prince, to face an even greater enemy.</p>
        <div class="glyphiconOverlay">
            <a href="#/widget-heading" class="nounderline"> <span class="glyphicon glyphicon-cog resetGlyphiconFontSize">
                    </span> </a>
            <span class="glyphicon glyphicon-align-justify  resetGlyphiconFontSize">
                      </span>
        </div>
    </div>

</div>




<nav class="navbar navbar-default navbar-fixed-bottom pagesbgcolor">
    <div class="container">

        <p class="navbar-text pull-right">
            <a href="#/user/:uid" class="navbar-link">
                    <span class="glyphicon glyphicon-user glyphiconUserProperties pagesbgcolor">
          </span>
            </a>
        </p>
    </div>

</nav>
