
<nav class="navbar navbar-default navbar-fixed-top pagesbgcolor">
    <div class="container containerRightPadding">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties pagesbgcolor">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Widgets</a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus glyphiconPlusProperties pagesbgcolor">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container" jga-Sortable>
    <div class="wrapper" ng-switch="widget.type" ng-repeat="widget in model.widgets">
        <div class="glyphiconOverlay">
                <span class="glyphicon glyphicon-align-justify pull-right resetGlyphiconFontSize">
                </span>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog pull-right resetGlyphiconFontSize">
                </span>
            </a>
        </div>
        <div ng-switch="widget.size" ng-switch-when="HEADING">
            <h1 ng-switch-when="1">{{widget.text}}</h1>
            <h2 ng-switch-when="2">{{widget.text}}</h2>
            <h3 ng-switch-when="3">{{widget.text}}</h3>
            <h4 ng-switch-when="4">{{widget.text}}</h4>
            <h5 ng-switch-when="5">{{widget.text}}</h5>
            <h6 ng-switch-when="6">{{widget.text}}</h6>
        </div>

        <div ng-switch-when="YOUTUBE" class="youtube-widget">
            <iframe width="{{widget.width}}" height="500"
                    ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                    frameborder="0" allowfullscreen></iframe>
        </div>

        <div ng-switch-when="IMAGE">
            <img width="{{widget.width}}" ng-src="{{model.checkSafeImageUrl(widget.url)}}"  class="img-responsive">
        </div>

        <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
        </div>

        <div ng-switch-when="INPUT" class="form-group">
            <div ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3','h4','h5','h6'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent']]"></div>
            <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                   placeholder="{{widget.placeholder}}" class="form-control" value="{{widget.text}}"/>
            <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                      rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                      class="form-control">{{widget.text}}</textarea>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom pagesbgcolor">
    <div class="container">

        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user glyphiconUserProperties pagesbgcolor">
          </span>
            </a>
        </p>
    </div>

</nav>
