
<nav class="navbar navbar-default navbar-fixed-top pagesbgcolor">
    <div class="container containerRightPadding">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left glyphiconBackProperties pagesbgcolor">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Choose Widget</a>

        </div>
    </div>
</nav>

<div class="container">
    <p>
        <a href="#/widget-heading" class="blueColorText nounderline">Header</a>
    </p>

    <p>
        <a href="#" class="blueColorText nounderline">Label</a>
    </p>

    <p>
        <a href="#" class="blueColorText nounderline">HTML</a>
    </p>

    <p>
        <a href="#" class="blueColorText nounderline">Text Input</a>
    </p>

    <p>
        <a href="#" class="blueColorText nounderline">Link</a>
    </p>

    <p>
        <a href="#" class="blueColorText nounderline">Button</a>
    </p>

    <p>
        <a href="#/widget-image" class="blueColorText nounderline">Image</a>
    </p>

    <p>
        <a href="#/widget-youtube" class="blueColorText nounderline">YouTube</a>
    </p>

    <p>
        <a href="#" class="blueColorText nounderline">Data Table</a>
    </p>

    <p>
        <a href="#" class="blueColorText nounderline">Repeater</a>
    </p>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom pagesbgcolor">
    <div class="container">

        <p class="navbar-text pull-right">
            <a href="#/user/:uid" class="navbar-link">
                    <span class="glyphicon glyphicon-user glyphiconUserProperties pagesbgcolor">
          </span>
            </a>
        </p>
    </div>

</nav>
